In [4]:
import numpy as np
import pandas as pd

In [1]:
dict1= {
    "name":['hr','bn','tk','ukk'],
    "marks":['35','88','98','87'],
    "city":['kol','ghgh','jfngj','jfnbjf']
}

In [2]:
dict1

{'name': ['hr', 'bn', 'tk', 'ukk'],
 'marks': ['35', '88', '98', '87'],
 'city': ['kol', 'ghgh', 'jfngj', 'jfnbjf']}

In [3]:
df = pd.DataFrame(dict1)

NameError: name 'pd' is not defined

In [5]:
df = pd.DataFrame(dict1)

In [6]:
df

  name marks    city
0   hr    35     kol
1   bn    88    ghgh
2   tk    98   jfngj
3  ukk    87  jfnbjf